<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/iframe.css">
    <title>Document</title>
</head>

<body>
    <div>
        <div style="display: flex; justify-content: space-around; margin-top: 5px;">
            <button class="mapName1" id="button-map1" style="cursor: pointer;"><span class="active"
                    id="map1Name">BIND</span></button>
        </div>

        <div>
            <h2 class="team1Name">FURIA</h2>
            <div class="team1Rounds">13</div>
            <div class="team1Half-winner">10/3</div>

            <div style="overflow-x: auto; margin-top: 15px; padding-bottom: 5px;">
                <table class="width">
                    <thead>
                        <tr>
                            <th>Player</th>

                            <th>Agent</th>

                            <th title="Average Combat Score">ACS</th>

                            <th title="Kills / Deaths / Assists">K / D / A</th>

                            <th>Kills - Deaths</th>

                            <th title="Average Damage per Round">ADR</th>

                            <th>Headshot %</th>

                            <th>First Kills</th>

                            <th>First Deaths</th>

                            <th>Kills - Deaths</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px;">
                                    Khalil
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Brimstone</span>
                            </td>

                            <td class="center">
                                <span>341</span>
                            </td>

                            <td style="width: 10%; text-align: center; padding-left: 7px;">
                                <div>
                                    <span style="padding: 4px;">21</span>
                                    <span>/</span>
                                    <span style="padding: 6px;">8</span>
                                    <span>/</span>
                                    <span style="padding: 4px;">12</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+13 </span>
                            </td>

                            <td class="center">
                                <span>226.2</span>
                            </td>

                            <td class="center">
                                <span>24%</span>
                            </td>

                            <td class="center">
                                <span>2</span>
                            </td>

                            <td class="center">
                                <span>0</span>
                            </td>

                            <td class="center">
                                <span>+2 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    xand
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Skye</span>
                            </td>

                            <td class="center">
                                <span>262</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">17</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">13</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">3</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+4 </span>
                            </td>

                            <td class="center">
                                <span>152.1</span>
                            </td>

                            <td class="center">
                                <span>17%</span>
                            </td>

                            <td class="center">
                                <span>1</span>
                            </td>

                            <td class="center">
                                <span>3</span>
                            </td>

                            <td class="center">
                                <span>-2 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    Nozwerr
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Sova</span>
                            </td>

                            <td class="center">
                                <span>230</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">14</span>
                                    <span>/</span>
                                    <span style="padding: 6px;">8</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">6</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+6 </span>
                            </td>

                            <td class="center">
                                <span>136.1</span>
                            </td>

                            <td class="center">
                                <span>23%</span>
                            </td>

                            <td class="center">
                                <span>2</span>
                            </td>

                            <td class="center">
                                <span>0</span>
                            </td>

                            <td class="center">
                                <span>+2 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    Mazin
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Raze</span>
                            </td>

                            <td class="center">
                                <span>218</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">13</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">12</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">3</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+1 </span>
                            </td>

                            <td class="center">
                                <span>135.6</span>
                            </td>

                            <td class="center">
                                <span>29%</span>
                            </td>

                            <td class="center">
                                <span>4</span>
                            </td>

                            <td class="center">
                                <span>3</span>
                            </td>

                            <td class="center">
                                <span>+1 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center agent">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    Quick
                                </div>
                            </td>

                            <td class="center">
                                <span>viper</span>
                            </td>

                            <td class="center">
                                <span>189</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">12</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">11</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">6</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+1 </span>
                            </td>

                            <td class="center">
                                <span>136.1</span>
                            </td>

                            <td class="center">
                                <span>30%</span>
                            </td>

                            <td class="center">
                                <span>0</span>
                            </td>

                            <td class="center">
                                <span>2</span>
                            </td>

                            <td class="center">
                                <span>-2 </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <h2 class="team1Name">SLICK</h2>
            <div class="team1Rounds">4</div>
            <div class="team1Half-loser">2/2</div>

            <div style="overflow-x: auto; margin-top: 15px; padding-bottom: 5px;">
                <table class="width">
                    <thead>
                        <tr>
                            <th>Player</th>

                            <th>Agent</th>

                            <th title="Average Combat Score">ACS</th>

                            <th title="Kills / Deaths / Assists">K / D / A</th>

                            <th>Kills - Deaths</th>

                            <th title="Average Damage per Round">ADR</th>

                            <th>Headshot %</th>

                            <th></th>

                            <th>First Deaths</th>

                            <th>Kills - Deaths</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px;">
                                    DONSA
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Sage</span>
                            </td>

                            <td class="center">
                                <span>248</span>
                            </td>

                            <td style="width: 10%; text-align: center; padding-left: 3px;">
                                <div>
                                    <span style="padding: 3px;">16</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">14</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">3</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+2 </span>
                            </td>

                            <td class="center">
                                <span>165.2</span>
                            </td>

                            <td class="center">
                                <span>28%</span>
                            </td>

                            <td class="center">
                                <span>1</span>
                            </td>

                            <td class="center">
                                <span>0</span>
                            </td>

                            <td class="center">
                                <span>+1 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    aspas
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Raze</span>
                            </td>

                            <td class="center">
                                <span>241</span>
                            </td>

                            <td style="width: 10%; text-align: center; padding-left: 7px;">
                                <div>
                                    <span style="padding: 3px;">14</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">14</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">13</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>0 </span>
                            </td>

                            <td class="center">
                                <span>195.9</span>
                            </td>

                            <td class="center">
                                <span>26%</span>
                            </td>

                            <td class="center">
                                <span>1</span>
                            </td>

                            <td class="center">
                                <span>1</span>
                            </td>

                            <td class="center">
                                <span>0 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    Maverick
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Brimstone</span>
                            </td>

                            <td class="center">
                                <span>160</span>
                            </td>

                            <td style="width: 10%; text-align: center; padding-left: 7px;">
                                <div>
                                    <span style="padding: 3px;">8</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">16</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">5</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>-8 </span>
                            </td>

                            <td class="center">
                                <span>109.8</span>
                            </td>

                            <td class="center">
                                <span>32%</span>
                            </td>

                            <td class="center">
                                <span>1</span>
                            </td>

                            <td class="center">
                                <span>3</span>
                            </td>

                            <td class="center">
                                <span>-2 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    Veroneze
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Viper</span>
                            </td>

                            <td class="center">
                                <span>154</span>
                            </td>

                            <td style="width: 10%; text-align: center; padding-left: 7px;">
                                <div>
                                    <span style="padding: 3px;">7</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">15</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">6</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>-8 </span>
                            </td>

                            <td class="center">
                                <span>89.6</span>
                            </td>

                            <td class="center">
                                <span>26%</span>
                            </td>

                            <td class="center">
                                <span>2</span>
                            </td>

                            <td class="center">
                                <span>1</span>
                            </td>

                            <td class="center">
                                <span>+1 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    DiMAS
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Skye</span>
                            </td>

                            <td class="center">
                                <span>111</span>
                            </td>

                            <td style="width: 10%; text-align: center; padding-left: 7px;">
                                <div>
                                    <span style="padding: 3px;">7</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">18</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">2</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>-11 </span>
                            </td>

                            <td class="center">
                                <span>92.4</span>
                            </td>

                            <td class="center">
                                <span>56%</span>
                            </td>

                            <td class="center">
                                <span>3</span>
                            </td>

                            <td class="center">
                                <span>4</span>
                            </td>

                            <td class="center">
                                <span>-1 </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>