<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/iframe.css">
    <title>Document</title>
</head>

<body>
    <div>
        <button class="mapName">ICEBOX</button>

        <div>
            <h2 class="team1Name">Gamelanders Blue</h2>
            <div class="team1Rounds">13</div>
            <div class="team1Half-winner">9/4</div>

            <div style="overflow-x: auto; margin-top: 15px; padding-bottom: 5px;">
                <table class="width">
                    <thead>
                        <tr>
                            <th>Player</th>

                            <th>Agent</th>

                            <th title="Average Combat Score">ACS</th>

                            <th title="Kills / Deaths / Assists">K / D / A</th>

                            <th>Kills - Deaths</th>

                            <th title="Average Damage per Round">ADR</th>

                            <th>Headshot %</th>

                            <th>First Kills</th>

                            <th>First Deaths</th>

                            <th>Kills - Deaths</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    BELKY
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Astra</span>
                            </td>

                            <td class="center">
                                <span>278</span>
                            </td>

                            <td style="width: 10%; text-align: center; padding-left: 12px;">
                                <div>
                                    <span style="padding: 3px;">19</span>
                                    <span>/</span>
                                    <span style="padding: 7px;">9</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">10</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+10 </span>
                            </td>

                            <td class="center">
                                <span>159.6</span>
                            </td>

                            <td class="center">
                                <span>23%</span>
                            </td>

                            <td class="center">
                                <span>3</span>
                            </td>

                            <td class="center">
                                <span>1</span>
                            </td>

                            <td class="center">
                                <span>+2 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    mwzera
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Jett</span>
                            </td>

                            <td class="center">
                                <span>243</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">18</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">12</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">4</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+6 </span>
                            </td>

                            <td class="center">
                                <span>171.4</span>
                            </td>

                            <td class="center">
                                <span>16%</span>
                            </td>

                            <td class="center">
                                <span>3</span>
                            </td>

                            <td class="center">
                                <span>1</span>
                            </td>

                            <td class="center">
                                <span>+2 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    Nyang
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Sage</span>
                            </td>

                            <td class="center">
                                <span>236</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">16</span>
                                    <span>/</span>
                                    <span style="padding: 7px;">7</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">8</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+9 </span>
                            </td>

                            <td class="center">
                                <span>162.8</span>
                            </td>

                            <td class="center">
                                <span>33%</span>
                            </td>

                            <td class="center">
                                <span>1</span>
                            </td>

                            <td class="center">
                                <span>0</span>
                            </td>

                            <td class="center">
                                <span>+1 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    fznnn
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Sova</span>
                            </td>

                            <td class="center">
                                <span>226</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">15</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">10</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">8</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+5 </span>
                            </td>

                            <td class="center">
                                <span>138.5</span>
                            </td>

                            <td class="center">
                                <span>18%</span>
                            </td>

                            <td class="center">
                                <span>3</span>
                            </td>

                            <td class="center">
                                <span>2</span>
                            </td>

                            <td class="center">
                                <span>+1 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    Jonn
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Reyna</span>
                            </td>

                            <td class="center">
                                <span>208</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">14</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">12</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">4</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+2 </span>
                            </td>

                            <td class="center">
                                <span>150.7</span>
                            </td>

                            <td class="center">
                                <span>28%</span>
                            </td>

                            <td class="center">
                                <span>2</span>
                            </td>

                            <td class="center">
                                <span>3</span>
                            </td>

                            <td class="center">
                                <span>-1 </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <h2 class="team1Name">Havan Liberty</h2>
            <div class="team1Rounds">6</div>
            <div class="team1Half-loser">3/3</div>

            <div style="overflow-x: auto; margin-top: 15px; padding-bottom: 5px;">
                <table class="width">
                    <thead>
                        <tr>
                            <th>Player</th>

                            <th>Agent</th>

                            <th title="Average Combat Score">ACS</th>

                            <th title="Kills / Deaths / Assists">K / D / A</th>

                            <th>Kills - Deaths</th>

                            <th title="Average Damage per Round">ADR</th>

                            <th>Headshot %</th>

                            <th>First Kills</th>

                            <th>First Deaths</th>

                            <th>Kills - Deaths</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    shion
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Reyna</span>
                            </td>

                            <td class="center">
                                <span>271</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">16</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">17</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">2</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>-1</span>
                            </td>

                            <td class="center">
                                <span>164.6</span>
                            </td>

                            <td class="center">
                                <span>18%</span>
                            </td>

                            <td class="center">
                                <span>6</span>
                            </td>

                            <td class="center">
                                <span>2</span>
                            </td>

                            <td class="center">
                                <span>+4</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    krain
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Jett</span>
                            </td>

                            <td class="center">
                                <span>178</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">11</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">17</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">4</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>-6</span>
                            </td>

                            <td class="center">
                                <span>115.3</span>
                            </td>

                            <td class="center">
                                <span>34%</span>
                            </td>

                            <td class="center">
                                <span>1</span>
                            </td>

                            <td class="center">
                                <span>1</span>
                            </td>

                            <td class="center">
                                <span>0</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    liazzi
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Sage</span>
                            </td>

                            <td class="center">
                                <span>148</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">11</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">15</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">3</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>-4</span>
                            </td>

                            <td class="center">
                                <span>84.9</span>
                            </td>

                            <td class="center">
                                <span>15%</span>
                            </td>

                            <td class="center">
                                <span>0</span>
                            </td>

                            <td class="center">
                                <span>3</span>
                            </td>

                            <td class="center">
                                <span>-3</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    Myssen
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Sova</span>
                            </td>

                            <td class="center">
                                <span>104</span>
                            </td>

                            <td style="width: 10%; text-align: center; padding-left: 7px;">
                                <div>
                                    <span style="padding: 3px;">7</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">15</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">2</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>-8</span>
                            </td>

                            <td class="center">
                                <span>75.8</span>
                            </td>

                            <td class="center">
                                <span>50%</span>
                            </td>

                            <td class="center">
                                <span>0</span>
                            </td>

                            <td class="center">
                                <span>2</span>
                            </td>

                            <td class="center">
                                <span>-2</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px; max-width: 80px;">
                                    pleets
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Viper</span>
                            </td>

                            <td class="center">
                                <span>84</span>
                            </td>

                            <td style="width: 10%; text-align: center; padding-left: 7px;">
                                <div>
                                    <span style="padding: 3px;">5</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">18</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">2</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>-13</span>
                            </td>

                            <td class="center">
                                <span>62.5</span>
                            </td>

                            <td class="center">
                                <span>28%</span>
                            </td>

                            <td class="center">
                                <span>0</span>
                            </td>

                            <td class="center">
                                <span>4</span>
                            </td>

                            <td class="center">
                                <span>-4</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>