<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/iframe.css">
    <title>Document</title>
</head>

<body>
    <div>
        <div style="display: flex; justify-content: space-around; margin-top: 5px;">
            <button class="mapName1" id="button-map1" style="cursor: pointer;"><span class="active"
                    id="map1Name">HAVEN</span></button>
        </div>

        <div>
            <h2 class="team1Name">Team Vikings</h2>
            <div class="team1Rounds">13</div>
            <div class="team1Half-winner">7/6</div>

            <div style="overflow-x: auto; margin-top: 15px; padding-bottom: 5px;">
                <table class="width">
                    <thead>
                        <tr>
                            <th>Player</th>

                            <th>Agent</th>

                            <th title="Average Combat Score">ACS</th>

                            <th title="Kills / Deaths / Assists">K / D / A</th>

                            <th>Kills - Deaths</th>

                            <th title="Average Damage per Round">ADR</th>

                            <th>Headshot %</th>

                            <th>First Kills</th>

                            <th>First Deaths</th>

                            <th>Kills - Deaths</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px;">
                                    frz
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Sova</span>
                            </td>

                            <td class="center">
                                <span>253</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">21</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">11</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">11</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+10 </span>
                            </td>

                            <td class="center">
                                <span>175.0</span>
                            </td>

                            <td class="center">
                                <span>21%</span>
                            </td>

                            <td class="center">
                                <span>1</span>
                            </td>

                            <td class="center">
                                <span>0</span>
                            </td>

                            <td class="center">
                                <span>+1 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px;">
                                    gtnziN
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Phoenix</span>
                            </td>

                            <td class="center">
                                <span>240</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">18</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">15</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">10</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+3 </span>
                            </td>

                            <td class="center">
                                <span>143.7</span>
                            </td>

                            <td class="center">
                                <span>12%</span>
                            </td>

                            <td class="center">
                                <span>4</span>
                            </td>

                            <td class="center">
                                <span>0</span>
                            </td>

                            <td class="center">
                                <span>+4 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px;">
                                    Sacy
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Jett</span>
                            </td>

                            <td class="center">
                                <span>217</span>
                            </td>

                            <td style="width: 10%; text-align: center; padding-right: 7px;">
                                <div>
                                    <span style="padding: 3px;">18</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">15</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">2</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+3 </span>
                            </td>

                            <td class="center">
                                <span>129.0</span>
                            </td>

                            <td class="center">
                                <span>18%</span>
                            </td>

                            <td class="center">
                                <span>5</span>
                            </td>

                            <td class="center">
                                <span>2</span>
                            </td>

                            <td class="center">
                                <span>+3 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px;">
                                    saadhak
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Omen</span>
                            </td>

                            <td class="center">
                                <span>190</span>
                            </td>

                            <td style="width: 10%; text-align: center;">
                                <div>
                                    <span style="padding: 3px;">14</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">13</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">14</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>+1 </span>
                            </td>

                            <td class="center">
                                <span>119.1</span>
                            </td>

                            <td class="center">
                                <span>15%</span>
                            </td>

                            <td class="center">
                                <span>2</span>
                            </td>

                            <td class="center">
                                <span>4</span>
                            </td>

                            <td class="center">
                                <span>-2 </span>
                            </td>
                        </tr>

                        <tr>
                            <td class="center player">
                                <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px;">
                                    sutecas
                                </div>
                            </td>

                            <td class="center agent">
                                <span>Cypher</span>
                            </td>

                            <td class="center">
                                <span>183</span>
                            </td>

                            <td style="width: 10%; text-align: center; padding-right: 7px;">
                                <div>
                                    <span style="padding: 3px;">14</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">16</span>
                                    <span>/</span>
                                    <span style="padding: 3px;">6</span>
                                </div>
                            </td>

                            <td class="center">
                                <span>-2 </span>
                            </td>

                            <td class="center">
                                <span>120.7</span>
                            </td>

                            <td class="center">
                                <span>23%</span>
                            </td>

                            <td class="center">
                                <span>2</span>
                            </td>

                            <td class="center">
                                <span>2</span>
                            </td>

                            <td class="center">
                                <span>0 </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <h2 class="team1Name">Stars Horizon</h2>
            <div class="team1Rounds">9</div>
            <div class="team1Half-loser">5/4</div>
        </div>

        <div style="overflow-x: auto; margin-top: 15px; padding-bottom: 5px;">
            <table class="width">
                <thead>
                    <tr>
                        <th>Player</th>

                        <th>Agent</th>

                        <th title="Average Combat Score">ACS</th>

                        <th title="Kills / Deaths / Assists">K / D / A</th>

                        <th>Kills - Deaths</th>

                        <th title="Average Damage per Round">ADR</th>

                        <th>Headshot</th>

                        <th>First Kills</th>

                        <th>First Deaths</th>

                        <th>Kills - Deaths</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="center player">
                            <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px;">
                                chase
                            </div>
                        </td>

                        <td class="center agent">
                            <div>
                                <span>Raze</span>
                            </div>
                        </td>

                        <td class="center">
                            <span>237</span>
                        </td>

                        <td style="width: 10%; text-align: center;">
                            <div>
                                <span style="padding: 3px;">17</span>
                                <span>/</span>
                                <span style="padding: 3px;">17</span>
                                <span>/</span>
                                <span style="padding: 3px;">5</span>
                            </div>
                        </td>

                        <td class="center">
                            <span>0 </span>
                        </td>

                        <td class="center">
                            <span>205.8</span>
                        </td>

                        <td class="center">
                            <span>21%</span>
                        </td>

                        <td class="center">
                            <span>3</span>
                        </td>
                        <td class="center">
                            <span>4</span>
                        </td>

                        <td class="center">
                            <span>-1 </span>
                        </td>
                    </tr>

                    <tr>
                        <td class="center player">
                            <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px;">
                                v1nny
                            </div>
                        </td>

                        <td class="center agent">
                            <span>Skye</span>
                        </td>

                        <td class="center">
                            <span>211</span>
                        </td>

                        <td style="width: 10%; text-align: center;">
                            <div>
                                <span style="padding: 3px;">18</span>
                                <span>/</span>
                                <span style="padding: 3px;">17</span>
                                <span>/</span>
                                <span style="padding: 3px;">6</span>
                            </div>
                        </td>

                        <td class="center">
                            <span>+1 </span>
                        </td>

                        <td class="center">
                            <span>139.9</span>
                        </td>

                        <td class="center">
                            <span>29%</span>
                        </td>

                        <td class="center">
                            <span>1</span>
                        </td>

                        <td class="center">
                            <span>2</span>
                        </td>

                        <td class="center">
                            <span>-1 </span>
                        </td>
                    </tr>

                    <tr>
                        <td class="center player">
                            <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px;">
                                fuzari
                            </div>
                        </td>

                        <td class="center agent">
                            <span>Cypher</span>
                        </td>

                        <td class="center">
                            <span>208</span>
                        </td>

                        <td style="width: 10%; text-align: center;">
                            <div>
                                <span style="padding: 3px;">15</span>
                                <span>/</span>
                                <span style="padding: 3px;">19</span>
                                <span>/</span>
                                <span style="padding: 3px;">8</span>
                            </div>
                        </td>

                        <td class="center">
                            <span>-4 </span>
                        </td>

                        <td class="center">
                            <span>128.5</span>
                        </td>

                        <td class="center">
                            <span>23%</span>
                        </td>

                        <td class="center">
                            <span>2</span>
                        </td>

                        <td class="center">
                            <span>4</span>
                        </td>

                        <td class="center">
                            <span>-2 </span>
                        </td>
                    </tr>

                    <tr>
                        <td class="center player">
                            <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px;">
                                pancada
                            </div>
                        </td>

                        <td class="center agent">
                            <div>
                                <span>Astra</span>
                            </div>
                        </td>

                        <td class="center">
                            <span>132</span>
                        </td>

                        <td style="width: 10%; text-align: center;">
                            <div>
                                <span style="padding: 3px;">11</span>
                                <span>/</span>
                                <span style="padding: 3px;">15</span>
                                <span>/</span>
                                <span style="padding: 3px;">5</span>
                            </div>
                        </td>

                        <td class="center">
                            <span>-4 </span>
                        </td>

                        <td class="center">
                            <span>88.8</span>
                        </td>

                        <td class="center">
                            <span>27%</span>
                        </td>

                        <td class="center">
                            <span>0</span>
                        </td>

                        <td class="center">
                            <span>0</span>
                        </td>

                        <td class="center">
                            <span>0 </span>
                        </td>
                    </tr>

                    <tr>
                        <td class="center player">
                            <div style="font-weight: 700; padding-bottom: 4px; padding-top: 2px;">
                                dgzin
                            </div>
                        </td>

                        <td class="center agent">
                            <span>Jett</span>
                        </td>

                        <td class="center">
                            <span>123</span>
                        </td>

                        <td style="width: 10%; text-align: center; padding-left: 9px;">
                            <div>
                                <span style="padding: 3px;">9</span>
                                <span>/</span>
                                <span style="padding: 5px 3px 5px 2px;">17</span>
                                <span>/</span>
                                <span style="padding: 3px;">2</span>
                            </div>
                        </td>

                        <td class="center">
                            <span>-8 </span>
                        </td>

                        <td class="center">
                            <span>80.4</span>
                        </td>

                        <td class="center">
                            <span>13%</span>
                        </td>

                        <td class="center">
                            <span>2</span>
                        </td>

                        <td class="center">
                            <span>4</span>
                        </td>

                        <td class="center">
                            <span>-2 </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>