@import '../css/normalize.css';
@import '../css/reset.css';
@import "mixin.scss";

body {
    font-family: "Roboto", sans-serif;
    background-color: #3a3a3a;
}

.grupos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "grupoA grupoA premiacao"
        "grupoB grupoB jogos";
    height: 80vh;
}

.group-title {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-left: 20px;
    width: 50%;
}

.groupA {
    color: black;
    grid-area: grupoA;
    height: 40vh;
    @include container;
    margin-left: 25px;
    margin-top: 10px;
}

.groupB {
    grid-area: grupoB;
    height: 40vh;
    @include container;
    margin-left: 25px;
    margin-top: 20px;
}

.premiacao {
    background-color: #afafaf;
    border-radius: 3px;
    float: right;
    grid-area: premiacao;
    margin: 10px 25px 0 50px;
}

.jogos {
    grid-area: jogos;
    float: right;
    margin: 20px 25px 0 50px;
    @include container;
    width: auto;
    height: 303px;
}

.posicao,
.premio,
.seed {
    @include border;
}

.data {
    border-right: 1px solid black;
    padding-bottom: 6px;
    padding-top: 8px;
    text-align: center;

    &:last-child {
        border: none;
    }
}

.time {
    border-bottom: 1px solid black;
    padding-top: 10px;
}

.semi {
    @include column;
}

.secondpart {
    @include column;
    margin-top: 40px;
}

.qualified {
    @include column;
    margin-top: 58px;

    &-bottom {
        margin-top: 40px;
    }
}

.match {
    margin-top: 15px;
}

.bracket-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 5px 0;
    text-align: center;
}

.bracket {
    border: 2px solid black;
    font-size: 0.8rem;
    margin-bottom: 2px;
    padding: 5px 15px 5px 10px;

    .score {
        float: right;
        font-weight: 600;
        padding-left: 5px;
        width: 10px;
    }
}

.lose {
    opacity: 0.6;
}

.win {
    font-weight: 600;
}

.premiacao-link {
    color: rgb(56, 56, 56);
}

.partida {
    padding-top: 10px;
}

.pad {
    padding-left: 10px;
}

.dia {
    padding-left: 20px;
}

.partida-score {
    padding-top: 15px;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.stats {
    background-color: #7c7c7c;
    margin: 50px 25px 0 25px;
    border-radius: 3px;
    border: 1px solid black;
    height: 45px;
    cursor: pointer;
    transition: 0.5s;
}

.stats-title {
    width: 97%;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
    align-self: center;
}

.cursor {
    cursor: pointer;
}

.iframePartida {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #afafaf;
}

.arrow {
    align-self: flex-end;
}
